<div>
    <mat-progress-bar *ngIf="showSpinner" mode="indeterminate"></mat-progress-bar>
</div>

<div style="height: auto;">
<mat-card class="shadow mt-2">
    
    <h1 style="text-align: center; margin: 20px; font-family: 'Lora', serif; font-weight: 100; font-size:35px;">“Where Dreams Come Home”</h1>
</mat-card>

<app-slideshow></app-slideshow>
<mat-card class="shadow">
    <mat-card class="shadow m-3">
        <h1 style="text-align: center; font-family: 'Raleway', sans-serif; font-weight: 100; font-style: italic; font-size:35px; text-decoration: underline; text-decoration-color: gray; margin:10px;">“Featured new projects”</h1>
    </mat-card>
    

<app-propertycard [parentData]="properties"></app-propertycard>
</mat-card>

</div>
<!-- 2310 -->