<div>
    <mat-progress-bar *ngIf="showSpinner" mode="indeterminate"></mat-progress-bar>
</div>
<div class="card shadow mt-3 animate__animated animate__fadeInUpBig" *ngIf="propertyData" style="padding: 5%;">
    
<h1 style="text-align: center;font-style: italic;">"<span style="text-decoration: underline;">{{propertyData.name}}</span>"</h1>
<!-- 
<div class="image__flex" *ngFor="let item of propertyData.images">
    <div class="card rounded shadow">
        <img src="../../../assets/images/property/{{item}}" class="detail-card">
    </div>
</div> -->

<div class="container2 animate__animated animate__fadeInUpBig" > 
    <img *ngFor="let item of propertyData.images" src="../../../assets/images/property/{{item}}" class="detail-card ">
</div>



<div class="card shadow animate__animated animate__fadeInUpBig" style="text-align: center;padding: 2%; margin: 2%">
    <h1 style="text-align: center; padding: 2%;">Description</h1>
    <article>
        {{propertyData.description}}
    </article>
</div>
<div class="card shadow" style="text-align: center;padding: 2%;">
    <h1 style="text-align: center; padding: 2%;">Specifications</h1>
    <article>
        <p>Property Type: {{propertyData.specifications.Propertytype}}</p>
        <p>Unit: {{propertyData.specifications.unit}}</p>
        <p>Area: {{propertyData.specifications.area}}</p>
        <h3>Starting Price ₹ {{propertyData.price / 10000000}} Cr.</h3>
    </article>
</div>

    <div class="card shadow animate__animated animate__fadeInUpBig mt-3">
        <h1 style="text-align: center;padding: 2%;">Location</h1>
    </div>
    <div class="card animate__animated animate__fadeInUpBig shadow mt-3 map">
        <app-map [parentData]="propertyData.location.coordinates"></app-map>
    </div>

    <div class="card animate__animated animate__fadeInUpBig shadow" style="padding: 2%; text-align: center; margin: 2%;">
        <h1>List of dealers to contact</h1>   
       </div>
       
       <div class="container2 animate__animated animate__fadeInUpBig"> 
           
           <div *ngFor="let item of propertyData.dealers" class="card mb-3 dealer-detail-card ">
               <div >
                 <div >
                   <img src="../../../assets/images/users/{{item.photo}}" class="card-img rounded-circle" alt="...">
                 </div>
                 <div>
                   <div class="card-body">
                     <h5 class="card-title">{{item.name}}</h5>
                     
                     <p class="card-text">{{item.phone}}</p>
                     <p class="card-text"><small class="text-muted">{{item.email}}</small></p>
                   </div>
                 </div>
               </div>
             </div>
       </div>

</div>


