<div class="card shadow" style="padding: 5%; margin: 5%; text-align: center;" *ngIf="user">
    <h1 style="text-align: center;">Update Your Info</h1>
    <form (submit)="FormSubmit($event)">
        <div>
            <mat-form-field>
                <mat-label>Name</mat-label>
              <input matInput name="name" type="text" #name [(ngModel)]="user.name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Email address</mat-label>
              <input matInput name="email" type="email" #email placeholder="abc@example.com"  [(ngModel)]="user.email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
              <input matInput  name="phone" type="tel" #nu [(ngModel)]="user.phone">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button type="submit" color="primary" [disabled]="name.value == '' || email.value == '' || nu.value== ''" >Update</button>
           </div>
      </form>

      <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
        {{errorMsg}}
      </div>
</div>

