<div>
    <mat-progress-bar *ngIf="showSpinner" mode="indeterminate"></mat-progress-bar>
</div>
<mat-card class="shadow" style="padding: 5%; margin: 5%; text-align: center;">
    <h1 style="text-align: center;">Enter Your Email</h1>
    <mat-divider>
    </mat-divider>
    <form (submit)="FormSubmit($event)" style="margin-top: 30px;">
        <div>
            <mat-form-field>
                <mat-label>Email address</mat-label>
              <input matInput name="email" type="email" #email placeholder="abc@example.com"  [(ngModel)]="user.email">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button type="submit" color="primary" [disabled]="email.value == '' || btndisable" >Submit</button>
           </div>
      </form>

      <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
        {{errorMsg}}
      </div>
</mat-card>

