<div class="card shadow p-3 about__page">
    <div class="card shadow m-3">
        <h1 style="text-align: center; padding: 5px;" >About Page</h1>
    </div>
    <div style="display: flex;flex-wrap: wrap;
    justify-content: space-around; flex-direction: row;">
        <div class="card shadow main__logo p-3 m-3" style="flex: 1;">
            LOGO
                </div>
        <div class="card shadow main__description p-3 m-3" style="text-align: center; flex:1 ">
     <h1 style="text-align: center;">Description</h1>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat et mollitia est culpa eos eum, tempore blanditiis reprehenderit exercitationem recusandae sunt. Officiis deleniti iure praesentium obcaecati pariatur suscipit voluptatibus nesciunt!
                </div>

                
    </div>
    <div class="card shadow mb-2">
        <h1 style="text-align: center;">Our Team</h1>
    </div>
    
    <div style="display: flex; flex-direction: column;">
        <div class="card shadow m-3" style=" text-align: center; height: 300px">
            Team member
        </div>
        <div class="card shadow m-3" style=" text-align: center; height: 300px">
            Team member
        </div>
        <div class="card shadow m-3" style=" text-align: center; height: 300px">
            Team member
        </div>
        <div class="card shadow m-3" style=" text-align: center; height: 300px">
            Team member
        </div>
    </div>

</div>
