<div class="shadow p-2 about__page">
  <div class="card shadow m-3">
    <h1 style="text-align: center; padding: 5px; margin-top:5px">About Us</h1>
  </div>
  <div class="main__about">
    <div class="card shadow main__logo  m-3">
      <img src="../../../assets/images/main__logo.jpeg" alt="">
    </div>
    <div class="card shadow main__description  m-3 p-2">
      <h1 style="text-align: center;">Description</h1>
      <p>
        This project  is related to “ real estate management system “ in this project  we are going to build a smart web app. This  app is used by customers  who  want to buy or sell or rent a property 
        In this project  we are going to implement scrum process model 
  
  In this we will have three  types of users buyer or seller and a real-estate dealer and admin . The user  and real-estate dealer are going to register and create profile in the web app .
  
  The user is able to buy the properties  and the  photos of the estates  are  available on the website .they are able to see the details of each property and their prices . the user can  sell or rent  their property and they can  upload the photos and details of their property
  
      </p>
      <div class="mt-2">
  <h1>Contact Us</h1>
        <li>
Number: 123-xxx-123-xxx
        </li>
        <li>
Email: realtorapi@gmail.com
        </li>
</div>    
</div>


  </div>
  <div class="card shadow m-3 pt-2" style="width: 200px; align-items: center;">
    <h1 style="text-align: center;">Our Team</h1>
  </div>

  <div class="team__div">
    <div class="card shadow m-3 p-2 team__member">
      <div class="card shadow" style="border-radius: 50%; margin:auto">
        <img src="../../../assets/images/profile.jpg" style="border-radius: 50%;" alt="" width="200px" height="200px">
      </div>
      <div class="m-3 p-2" style="flex: 1;">
        <p style="margin: auto;">
          <li>
            Name: Navneet Kumar Singh
          </li>
          <li>
            Email: navneetsingh969@gmail.com
          </li>
          <li>
            Role: Mean Stack Web Developer Peer Mentor
          </li>
        </p>
        <div style="text-align: center;" class="mt-3">
<p>
  Hey, I am Web Developer aged 19, Currently Completing my engineering In computer science, Have done some M.E.A.N. stack and Full stack projects and I am Looking for new opportunities for learning and improving my skills by building Meaning full projects. 
</p>
        </div>
      </div>
    </div>
    <div class="card shadow m-3 p-2 team__member">
      <div class="card shadow" style="border-radius: 50%; margin:auto">
        <img src="../../../assets/images/WhatsApp Image 2020-11-25 at 10.12.54 PM.jpeg" style="border-radius: 50%;" alt="" width="200px" height="200px">
      </div>
      <div class="m-3 p-2" style="flex: 1;">
        <p style="margin: auto;">
          <li>
            Name: Varshitha Maruboyina
          </li>
          <li>
            Email: varshithamaruboyina@gmail.com
          </li>
          <li>
            Role: Software Engineering Peer Mentor
          </li>
        </p>
        <div style="text-align: center;" class="mt-3">
<p>
  I am Varshitha Maruboyina I am a sophomore studying Computer Science and  Engineering . In this project I have implemented Scrum methodology .</p>
        </div>
      </div>
    </div>
    <div class="card shadow m-3 p-2 team__member">
      <div class="card shadow" style="border-radius: 50%; margin:auto">
        <img src="../../../assets/images/WhatsApp Image 2020-11-25 at 9.49.53 PM.jpeg" style="border-radius: 50%;" alt="" width="200px" height="200px">
      </div>
      <div class="m-3 p-2" style="flex: 1;">
        <p style="margin: auto;">
          <li>
            Name: Sai Anisha
          </li>
          <li>
            Email: saianisha2001@gmail.com
          </li>
          <li>
            Role: Database Management Systems Peer Mentor
          </li>
        </p>
        <div style="text-align: center;" class="mt-3">
<p>
  I am Sai Anisha, I have been learning Data Base Management System . As Data is the prior thing in every technology . In this project I have implemented MongoDB which is nosql database .
</p>
        </div>
      </div>
    </div>
    <div class="card shadow m-3 p-2 team__member">
      <div class="card shadow" style="border-radius: 50%; margin:auto">
        <img src="../../../assets/images/WhatsApp Image 2020-11-29 at 6.07.36 PM.jpeg" style="border-radius: 50%;" alt="" width="200px" height="200px">
      </div>
      <div class="m-3 p-2" style="flex: 1;">
        <p style="margin: auto;">
          <li>
            Name: Tharani Vadde
          </li>
          <li>
            Email: tharanivadde247@gmail.com
          </li>
          <li>
            Role: Mathematical Programming Peer Mentor
          </li>
        </p>
        <div style="text-align: center;" class="mt-3">
<p>
  This is tharani , here I have showcased and used mathematical programming and optimization techniques to produce the best results with the given constraints</p>
        </div>
      </div>
    </div>
    <div class="card shadow m-3 p-2 team__member">
      <div class="card shadow" style="border-radius: 50%; margin:auto">
        <img src="../../../assets/images/0.jpg" style="border-radius: 50%;" alt="" width="200px" height="200px">
      </div>
      <div class="m-3 p-2" style="flex: 1;">
        <p style="margin: auto;">
          <li>
            Name: N Chandan Kumar

          </li>
          <li>
            Email: chandankumar1822001@gmail.com
          </li>
          <li>
            Role: Artificial Intelligence Peer Mentor
          </li>
        </p>
        <div style="text-align: center;" class="mt-3">
<p>
  I am chandan i have started learning Artificial intelligence from last 6 months and here i have showcased some of my learning by implementing some Artificial intelligence technology.</p>
        </div>
      </div>
    </div>
    
  </div>

</div>
