<div class="card shadow" style="padding: 5%; margin: 5%; text-align: center;">
    <h1 style="text-align: center;">Update Your Password</h1>
    <form (submit)="FormSubmit($event)">
        <div>
            <mat-form-field>
                <mat-label>New Password (Min 8 Characters)</mat-label>
              <input matInput name="password" type="password" #password placeholder="*************"  [(ngModel)]="user.password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
              <input matInput  name="passwordConfirm" type="password" placeholder="*************" #passwordConfirm [(ngModel)]="user.passwordConfirm">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button type="submit" color="primary" [disabled]="password.value == '' || passwordConfirm.value== '' || password.value.length < 8 || password.value != passwordConfirm.value" >Reset</button>
           </div>
      </form>

      <div *ngIf="password.value != passwordConfirm.value">
        Password Don't match
      </div>

      <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
        {{errorMsg}}
      </div>
</div>

